# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
.env.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Temporal
*.tmp
*.temp